body {
  background: radial-gradient(circle, #020617, #000);
  color: #00f5ff;
  font-family: Arial;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #020617;
  border: 1px solid #00f5ff;
  box-shadow: 0 0 20px #00f5ff33;
  padding: 20px;
  border-radius: 15px;
}
